<!-- Written By: Kara Balsom
Date Written: Nov 26, 2022 -->

<html lang="en">
 <!-- Sets up the bootstrap: -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
crossorigin="anonymous"
/>
<!-- Adds the header and nav from head.ejs and nav.ejs: -->
    <%- include('./partials/head.ejs') %>
    <body class="container text-center">
        <%- include('./partials/nav.ejs') %>
        <div class="create content">
            <!-- Set up a form to put films. The id, title, and year are taken in as a request, and sent to the films.js file in the routes folder, which calls the putFilm() function in m.films.dal.js. The function sends back the results to films.js, which sends them back to here so the changes can be displayed in the list of films on films.ejs.  -->
            <form action="/films/<%= locals.theId %>?_method=PUT" method="POST">
            </br><h2><u>REPLACE FILM ENTRY</u></h2></br>
                    <input type="text" name="title" value="<%= locals.title %>" required></br>
                    <input type="text" name="year" value="<%= locals.year %>" required>
                </label></br></br>
                <button class="btn btn-primary">PUT</button>
            </form>
        </div>
    </body>
     <!-- Adds the footer from foot.ejs: -->
    <%- include('./partials/foot.ejs') %>
</html>