<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
    </br><label>Add Film:</label></br>
    <label>Title:
        <input type="text" id="title" name="title" value="<%= locals.title %>" required>
    </label>
    <label>Year:
        <input type="text" id="year" name="year" value="<%= locals.year %>" required>
    </label>
    </br>
    <button>ADD</button>
        <div class="films content">
            <form action="/films" method="POST">
                <b>Films: </b></br> 
            <% if (theFilms.length > 0) { %>
                <% theFilms.forEach(film => { %>
                    <b><%= film.title %> <%= film.year %></b>
                    <a href="/films/<%=film._id%>/edit?title=<%=film.title%>&year=<%=film.year%>">edit</a>
                    <a href="/films/<%=film._id%>/delete?title=<%=film.title%>&year=<%=film.year%>">delete</a>
                    <a href="/films/<%=film._id%>/replace?title=<%=film.title%>&year=<%=film.year%>">replace</a></br> 
                    <% }) %>
            <% } %>
            <!-- </br><label>Add Film:</label></br>
            <label>Title:
                <input type="text" id="title" name="title" value="<%= locals.title %>" required>
            </label>
            <label>Year:
                <input type="text" id="year" name="year" value="<%= locals.year %>" required>
            </label>
            </br>
            <button>ADD</button> -->
        </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>